*venv
*__pycache__
ex1.txt
TODO.txt
ex2.txt
ex2_labels.txt
*.aux
*.lof
*.log
*.lot
*.out
*.gz
*.toc
not_used.py
interactive.py
*.vscode
*.model
*.npy
*.fdb_latexmk
*.fls
*Inspec
CS_papers.csv
inspec_papers.csv
links.txt
data_cleanup.ipynb